* {
    -fx-bg-color: #1e88e5;
    -fx-bg-dark-color: #005cb2;
    -fx-alt-color: #6ab7ff;
    -fx-red-color: #ef5350;
    -fx-blue-color: #42A5F5;
    -fx-green-color: #66BB6A;
    -fx-orange-color: #FF7043;
    -fx-indigo-color: #5C6BC0;
    -fx-brown-color: #c09a76;
}

.root {
    -fx-background-color: white;
}

#hboxMenuBar .jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: white;
}

.redTile {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-red-color;
    -fx-text-fill: white;
}

.blueTile {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-blue-color;
    -fx-text-fill: white;
}

.greenTile {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-green-color;
    -fx-text-fill: white;
}

.orangeTile {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-orange-color;
    -fx-text-fill: white;
}

.jokerTile {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-brown-color;
    -fx-text-fill: white;
}

.blankTile {
    -fx-background-color: #c3c4c4;
    -fx-text-fill: #c3c4c4;
}

.fadeTile {
    -fx-opacity: 0.6;
}

.opaqueTile {
    -fx-opacity: 1;
}

.label-player-hand {
    -fx-background-color: -fx-alt-color;
    -fx-text-fill: white;
    -fx-padding: 4 4 4 4;
}

/*noinspection CssInvalidPseudoSelector*/
.label-player-hand:current-turn {
    -fx-background-color: -fx-indigo-color;
}

.player-hand {
    -fx-background-color: white;
}

/*noinspection CssInvalidPseudoSelector*/
.player-hand:mouse-drag-enter {
    -fx-background-color: -fx-bg-color;
}

.grid-cell {
    -fx-background-color: white;
    -fx-border-width: 2;
    -fx-border-color: -fx-bg-dark-color;
}

/*noinspection CssInvalidPseudoSelector*/
.grid-cell:mouse-drag-enter {
    -fx-background-color: -fx-bg-color;
}
